<h1>Create New Task</h1>
<h3>Add A Task</h3>
<%= form_with( model: @list, local: true, class: "ui form") do |f| %>
  <%= f.label :task_name %>
  <%= f.text_field :task_name, required: true %>
  <br />
  <br />
  <%= f.submit nil, class: "ui button blue" %>
<% end %>

